<div class="share_buttons">
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://mailblog.jazzychad.net{{ page.url }}" data-text="{{ page.share_descr }}" data-count="none" data-via="jazzychad">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<g:plusone size="medium" annotation="none"></g:plusone>
</div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
